<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    {% block head %}{% endblock %}
    <title>Chat</title>
</head>
<body>
    <nav class="flex justify-between my-3">
        <ul class="flex ml-10 text-3xl">
            <li>Чат</li>
        </ul>
        <ul class="flex gap-5 mr-10 text-2xl">
            <li>WebSocketChat</li>
        </ul>
    </nav>
    <hr>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>